<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Index page</title>
        <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    </head>
    <!-- BODY options, add following classes to body to change options
		1. 'compact-nav'     	  - Switch sidebar to minified version (width 50px)
		2. 'sidebar-nav'		  - Navigation on the left
			2.1. 'sidebar-off-canvas'	- Off-Canvas
				2.1.1 'sidebar-off-canvas-push'	- Off-Canvas which move content
				2.1.2 'sidebar-off-canvas-with-shadow'	- Add shadow to body elements
		3. 'fixed-nav'			  - Fixed navigation
		4. 'navbar-fixed'		  - Fixed navbar
	-->
    <body class="navbar-fixed sidebar-nav fixed-nav">
        <header class="navbar">
            <div class="container-fluid">
                <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
                <a class="navbar-brand" href="#"></a>
                <ul class="nav navbar-nav hidden-md-down">
                    <li class="nav-item">
                        <a class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a>
                    </li>
                    <li class="nav-item p-x-1">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item p-x-1">
                        <a class="nav-link" href="#">Users</a>
                    </li>
                    <li class="nav-item p-x-1">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right hidden-md-down">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="../static/img/flags/Poland.png" th:src="@{img/flags/Poland.png}" class="img-flag" alt="English"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header text-xs-center">
                                <strong>Choose language</strong>
                            </div>
                            <a class="dropdown-item" href="#">
                                <img src="../static/img/flags/Poland.png" th:src="@{img/flags/Poland.png}" class="img-flag" alt="Polish"/> Polish</a>
                            <a class="dropdown-item" href="#">
                                <img src="../static/img/flags/United-Kingdom.png" th:src="@{img/flags/England.png}" class="img-flag" alt="English"/> English</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="../static/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
                            <span class="hidden-md-down">admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header text-xs-center">
                                <strong>Account</strong>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                            <a class="dropdown-item" th:href="@{/logout}"><i class="fa fa-lock"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="../static/img/avatars/8.jpg" class="img-avatar" alt="Avatar"/>
                <div>
                    <strong>JOHN DOE</strong>
                </div>
                <div class="text-muted">
                    <small>Founder &amp; CEO</small>
                </div>
            </div>
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">
                        Dashboard
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> DASHBOARD <span class="label label-info">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index2.html"><i class="icon-speedometer"></i> DASHBOARD 2 <span class="label label-warning">NEW</span></a>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-title">
                        UI Elements
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Components</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="components-buttons.html"><i class="icon-puzzle"></i> BUTTONS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-social-buttons.html"><i class="icon-puzzle"></i> Social Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-cards.html"><i class="icon-puzzle"></i> CARDS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-forms.html"><i class="icon-puzzle"></i> FORMS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-switches.html"><i class="icon-puzzle"></i> SWITCHES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-tables.html"><i class="icon-puzzle"></i> TABLES</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> ICONS</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="icons-font-awesome.html"><i class="icon-star"></i> Font Awesome</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="icons-simple-line-icons.html"><i class="icon-star"></i> Simple Line Icons</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-energy"></i> Plugins</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="plugins-calendar.html"><i class="icon-calendar"></i> CALENDAR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="plugins-notifications.html"><i class="icon-info"></i> NOTIFICATIONS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="plugins-sliders.html"><i class="icon-equalizer"></i> SLIDERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="plugins-tables.html"><i class="icon-list"></i> TABLES</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="forms.html"><i class="icon-note"></i> FORMS <span class="label label-danger">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="widgets.html"><i class="icon-calculator"></i> WIDGETS <span class="label label-info">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> CHARTS</a>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-title">
                        Extras
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> PAGES</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="pages-login.html" target="_top"><i class="icon-star"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-register.html" target="_top"><i class="icon-star"></i> Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-404.html" target="_top"><i class="icon-star"></i> Error 404</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-500.html" target="_top"><i class="icon-star"></i> Error 500</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-layers"></i> UI Kits</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item nav-dropdown">
                                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-speech"></i> INVOICING</a>
                                <ul class="nav-dropdown-items">
                                    <li class="nav-item">
                                        <a class="nav-link" href="UIkits-invoicing-invoice.html"><i class="icon-speech"></i> INVOICE</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item nav-dropdown">
                                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-speech"></i> EMAIL</a>
                                <ul class="nav-dropdown-items">
                                    <li class="nav-item">
                                        <a class="nav-link" href="UIkits-email-inbox.html"><i class="icon-speech"></i> INBOX</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="UIkits-email-message.html"><i class="icon-speech"></i> MESSAGE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="UIkits-email-compose.html"><i class="icon-speech"></i> COMPOSE</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Main content -->
	<main class="main"> <!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-md-7">
				<h1 class="h2 page-title">Dashboard</h1>
				<div class="text-muted page-desc">Welcome to ROOT powerfull
					Bootstrap UI Kit</div>
			</div>
			<div class="col-md-5 charts">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="chart-wrapper">
							<canvas id="header-chart-1" class="chart" height="70"></canvas>
						</div>
						<div class="text-xs-center title">
							<span class="text-muted">Income: </span> <strong>$189.128</strong>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4">
						<div class="chart-wrapper">
							<canvas id="header-chart-2" class="chart" height="70"></canvas>
						</div>
						<div class="text-xs-center title">
							<span class="text-muted">New clients: </span> <strong
								class="text-danger">1.128</strong>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4">
						<div class="chart-wrapper">
							<canvas id="header-chart-3" class="chart" height="70"></canvas>
						</div>
						<div class="text-xs-center title">
							<span class="text-muted">Orders: </span> <strong
								class="text-success">2.345</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="card-columns col-2">
				<div class="card">
					<div class="card-header">
						Line Chart
						<div class="card-actions">
							<a href="http://www.chartjs.org"> <small class="text-muted">docs</small>
							</a>
						</div>
					</div>
					<div class="card-block">
						<div class="chart-wrapper">
							<canvas id="canvas-1"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Bar Chart
						<div class="card-actions">
							<a href="http://www.chartjs.org"> <small class="text-muted">docs</small>
							</a>
						</div>
					</div>
					<div class="card-block">
						<div class="chart-wrapper">
							<canvas id="canvas-2"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Pie Chart
						<div class="card-actions">
							<a href="http://www.chartjs.org"> <small class="text-muted">docs</small>
							</a>
						</div>
					</div>
					<div class="card-block">
						<div class="chart-wrapper">
							<canvas id="canvas-5"></canvas>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Doughnut Chart
						<div class="card-actions">
							<a href="http://www.chartjs.org"> <small class="text-muted">docs</small>
							</a>
						</div>
					</div>
					<div class="card-block">
						<div class="chart-wrapper">
							<canvas id="canvas-3"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer class="footer">
            <span class="text-left">
                <a href="http://bootstrapmaster.com">Root</a> &copy; 2016 creativeLabs.
            </span>
            <span class="pull-right">
                Powered by <a href="http://genesisui.com">GenesisUI</a>
            </span>
        </footer>
        <!-- Bootstrap and necessary plugins -->
        <script src="../static/js/libs/jquery.min.js" th:src="@{js/libs/jquery.min.js}"></script>
        <script src="../static/js/libs/tether.min.js" th:src="@{js/libs/tether.min.js}"></script>
        <script src="../static/js/libs/bootstrap.min.js" th:src="@{js/libs/bootstrap.min.js}"></script>
        <script src="../static/js/libs/pace.min.js" th:src="@{js/libs/pace.min.js}"></script>
        <!-- Plugins and scripts required by all views -->
        <script src="../static/js/libs/Chart.min.js" th:src="@{js/libs/Chart.min.js}"></script>
        <script src="../static/js/views/shared.js" th:src="@{js/views/shared.js}"></script>
        <!-- GenesisUI main scripts -->
        <script src="../static/js/app.js" th:src="@{js/app.js}"></script>
        <!-- Plugins and scripts required by this views -->
        <script src="../static/js/libs/toastr.min.js" th:src="@{js/libs/toastr.min.js}"></script>
        <script src="../static/js/libs/gauge.min.js" th:src="@{js/libs/gauge.min.js}"></script>
        <script src="../static/js/libs/moment.min.js" th:src="@{js/libs/moment.min.js}"></script>
        <script src="../static/js/libs/daterangepicker.min.js" th:src="@{js/libs/daterangepicker.min.js}"></script>
        <!-- Custom scripts required by this view -->
        <script src="../static/js/views/main.js" th:src="@{js/views/main.js}"></script>
        <script src="../static/js/views/charts.js" th:src="@{js/views/charts.js}"></script>
        
        <script th:inline="javascript" th:object="${javaPieData2}">
        var ctx = document.getElementById('canvas-5');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: [[${javaPieData2}]],
            options: {
                responsive: true
            }
        });
        var ctx = document.getElementById('canvas-2');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: [[${javaPieData2}]],
            options: {
                responsive: true
            }
        });
        var ctx = document.getElementById('canvas-3');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: [[${javaPieData2}]],
            options: {
                responsive: true
            }
        });
        var ctx = document.getElementById('canvas-1');
        var chart = new Chart(ctx, {
            type: 'line',
            data: [[${javaPieData2}]],
            options: {
                responsive: true
            }
        });
        </script>
       
    </body>
</html>